<div class="page-header">
  <h2>Home#index</h2>
</div>
<div class="well">
  <p>Hello!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dictum, nisi in mollis vehicula, turpis diam pretium eros, at maximus libero ipsum sed purus. Phasellus blandit mollis mi, non auctor est commodo a. Mauris volutpat nibh augue, vitae cursus sem tempor a. Praesent id tempor justo. Donec id leo urna. Nullam imperdiet aliquam mauris, et tempus quam sodales sed. Morbi a aliquet urna. Sed auctor convallis nisl, eu commodo lacus rutrum in. Aenean eu risus tincidunt, maximus est sed, venenatis metus. Sed pharetra quam et imperdiet euismod. Donec libero nisi, luctus non sem at, tincidunt feugiat metus.</p>
  <p><%= link_to 'Show all articles', articles_path %></p>
</div>


